body {
    background-color: #f0f0f0;
    color: #333;
}

.Books {
    display: grid;             
    grid-template-columns: repeat(4, 0.8fr);
    padding: 15vh; 
    justify-items: center;
    gap: 20px;
    row-gap: 350px;
    margin-top: -7vh;
    padding-bottom: 5vh;
}

.Book {
    border-radius: 15px;
    height: 200px;
}

.Book > img {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1vh;
}

.Book > img:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.BookCover {
    width: 18.75em;  
    height: 28.125em;       
    object-fit: cover;
}

.BookInfo {
    align-self: flex-end;
}

.BookInfo > h1 {
    font-weight: bold;
    font-size: medium;
}

.BookInfo > h2 {
    font-weight: normal;
    font-size: small;
}

.BookInfo > h3 {
    font-weight: lighter;
    font-size: x-small;
}

.SelectorDiv {
    position: absolute;
    left: 5px;
    top: 5px;
} 

.Selector {
    border-radius: 5px;
    background-color: white;
    font-size: large;
    border:rgba(0, 0, 0, 0.2);
    padding: 3px;
    margin-bottom: 1vh;
}
.Selector:focus {
    outline: none;
}
.Selector option::selection {
    color: grey;
}

.StockFilterDiv {
    position: absolute;
    left: 170px;
    top: 5px;
    background-color: white;
    border-radius: 5px;
    padding: 0px 7px;
    margin-bottom: 1vh;
}

.StockFilter {
    font-weight: normal;
    font-size: large;
    user-select: none;
}

.modal {
    display: flex; 
    position: fixed; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: auto; 
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
}

.book-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 70em;
    margin: auto;
    padding: 1em;
}

.book-info {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

#title-author {
    align-self: flex-start;
}

#title {
    font-size: 2em;
    font-weight: bold;
    color: #333;
}

#title2 {
    padding-top: 2vh;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

#author {
    font-size: 1em;
    font-weight: lighter;
}

#summary {
    font-size: 1em;
    font-weight: lighter;
    height: 80%;
    width: 100%;
    overflow: auto;
}

#Close {
    align-self: flex-start;
    justify-self: flex-end;
}

#divider {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 1em 0;
}

#loan {
    background-color: rgb(0, 0, 255);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    width: 50%;
    margin: 0 auto;
    margin-top: 2em;
}

#loan:hover {
    background-color: darkblue;
}

.LoanButton, .ReturnButton {
    background-color: #0070f3; 
    color: white;
    font-size: medium;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.LoanButton:hover, .ReturnButton:hover {
    background-color: #005bb5;
    box-shadow: 0 4px 10px rgba(0, 112, 243, 0.3); 
}

.LoanButton:focus, .ReturnButton:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 112, 243, 0.4); 
}

.ReturnDateContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ReturnDateCircle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    margin-right: 5px;
    border-radius: 50%;
}

.ReturnDateCircle.green {
    background-color: green;
}

.ReturnDateCircle.yellow {
    background-color: yellow;
}

.ReturnDateCircle.red {
    background-color: red;
}

.LoansPage h1#title {
    position: absolute;
    top: 2vh;
    left: 2vw;
}