body {
    background-color: #f0f0f0;
}

.Books {
    display: grid;             
    grid-template-columns: repeat(4, 0.8fr);
    padding: 15vh; 
    justify-items: center;
    gap: 20px;
    row-gap: 350px;
    margin-top: -7vh;
    padding-bottom: 5vh;
}

.Book {
    border-radius: 15px;
    height: 200px;
}

.Book > img {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1vh;
}

.Book > img:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.BookCover {
    width: 18.75em;  
    height: 28.125em;       
    object-fit: cover;
}

.BookInfo {
    align-self: flex-end;
}

.BookInfo > h1 {
    font-weight: bold;
    font-size: medium;
}

.BookInfo > h2 {
    font-weight: normal;
    font-size: small;
}

.BookInfo > h3 {
    font-weight: lighter;
    font-size: x-small;
}

.SelectorDiv {
    position: absolute;
    left: 5px;
    top: 5px;
} 

.Selector {
    border-radius: 5px;
    background-color: white;
    font-size: large;
    border:rgba(0, 0, 0, 0.2);
    padding: 3px;
    margin-bottom: 1vh;
}
.Selector:focus {
    outline: none;
}
.Selector option::selection {
    color: grey;
}

.StockFilterDiv {
    position: absolute;
    left: 170px;
    top: 5px;
    background-color: white;
    border-radius: 5px;
    padding: 0px 7px;
    margin-bottom: 1vh;
}

.StockFilter {
    font-weight: normal;
    font-size: large;
    user-select: none;
}