body {
    background-color: #f0f0f0;
}

.Books {
    display: grid;             
    grid-template-columns: repeat(4, 0.8fr);
    padding: 10vh; 
    justify-items: center;
    gap: 20px;
}

.Book {
    border-radius: 15px;
    height: 200px;
}

.Book > img {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1vh;
}

.Book > img:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.BookCover {
    width: 18.75em;  
    height: 28.125em;       
    object-fit: cover;
}

.BookInfo {
    align-self: flex-end;
}

.BookInfo > h1 {
    font-weight: bold;
    font-size: medium;
}

.BookInfo > h2 {
    font-weight: normal;
    font-size: small;
}

.BookInfo > h3 {
    font-weight: lighter;
    font-size: x-small;
}
